* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  height: 80px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.icon-container {
  width: 150px;
  height: 50px;
  /* background-color: #ffffff; */
  /* border-radius: 50%; */
  /* border: 2px solid #ff0000; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-container img {
  width: 40px;
  height: 100%;
  border-radius: 50%;
}

.icon-container p {
  color: #ffffff;
  font-size: 28px;
   font-family: "Italianno", serif;
  font-weight: 400;
  font-style: normal;
}

.links-container {
  /* border: 2px solid #ff0000; */
  justify-content: center;
  display: flex;
  gap: 20px;
  /* width: 250px; */
  padding: 0px 20px;
  height: 40px;
}

.links-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 250px;
  /* border: 1px solid #ff0000; */
}

.links-container a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
   font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.links-container a:hover {
  color: #ff0000;
  transition: all 0.3s ease;
}

.links-list a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: red;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.links-list a:hover::after {
  width: 100%;
}



.button-container {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid #ff0000; */
}

.button-style {
  width: 80px;
  height: 40px;
  background-color: #707070;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease;
   font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.button-style:hover {
  background-color: #ff0000;
  cursor: pointer;
  transform: scale(1.1);
}
